:root {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.header,
.content {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}

.header {
    /* set the portion of the screen covered by header */
    flex: 0.3 1 0;
    background-image: url("../images/matthew-jungling-unsplash.jpg");
    /* background-image: url("../images/bernd-dittrich-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    flex: 0.7 1 0;
    --left-padding: 2vw;
}


.logoSection {
    /* font-size: clamp(1.5rem, 5vw, 3rem); */
    font-size: clamp(2vw, 4rem, 4vw);
    color: white;
    background-color: rgba(0, 0, 0, 0.315);
    margin-top: 20vh;
    padding-top: min(2vh, 30px);
    padding-bottom: min(2vh, 30px);
    text-align: center;
}

.intro {
    flex: 0.2 1 0;
}

.form {
    flex: 0.8 1 0;
}

.intro,
.form {
    /* border: 2px solid red; */
}

p {
    /* set paragraph width to anything between 45 and 75 characters
    min: smaller size between 45ch and (almost the entire viewport))
    max: 75 characters */
    width: clamp(45ch, 50%, 75ch);
    padding-left: var(--left-padding);
    /* font-size: min(2.5rem, 1.5vw); */
    font-size: clamp(1.2vw, 2.5rem, 1.7vw);
}

.italic {
    font-style: italic;
}

form > * {
    padding-left: var(--left-padding);
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: min(2vh, 2rem);
}

input {
    font-family: inherit;
    /* font-size: 100%; */
    font-size: clamp(1.2vw, 2.5rem, 1.7vw);
    width: min(20vw, 30rem);
    height: min(20px, 5vh);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 3%;
}

.item {
    margin-bottom: 1vh;
}

div.items .row {
    display: flex;
    gap: min(4vw, 20px);
}

label {
    display: block;
    font-size: min(0.8vw, 2rem);
    letter-spacing: 0.2em;
    color:rgb(87, 87, 87);
}